<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Save one employee</title>
</head>
<body>
	<h2>Register An Employee</h2>
	<form action="saveEmp" method="POST">
		<span>Employee Id</span><input type="text" name="empId"><br />
		<span>Employee Name</span><input type="text" name="name"><br />
		<span>Employee City</span><input type="text" name="city"><br />
		<span>Employee Salary</span><input type="text" name="salary"><br />
		<input type="submit" name="Register">
	</form>
</body>
</html>

